<?xml version="1.0" encoding="UTF-8"?>
<menus xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
       xs:noNamespaceSchemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd"
       xs:schemaLocation="urn:weline:module:Weline_Backend::etc/xsd/menu.xsd">
    
    <!-- 编辑器管理器 - 归入开发者 > 编辑器与组件 -->
    <menu source="Weline_EditorManager::main" name="editor_manager_main" title="编辑器管理" 
         action="editormanager/backend/index"
         parent="Weline_Backend::editor_component_group"
         icon="mdi mdi-content-save-edit-outline"
         order="20"/>
</menus>
